In [0]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f1f6a457550>

In [0]:
# Spark Entry Points
"""
In Spark 1.x, There were 3 entry points
SparkContext -> sc, it is an entry point for Spark. It is also used to created RDD(Resilient Distributed Datasets)
SQLContext -> Using this you can write a SparkSQL Code. You can connect to different systems.
HiveContext -> It is used to work with Hive QL.(HQL)

From Spark 2.x -> A new entry point was introduced - SparkSession (A concept of DAtaFrame was introducted)
During the Introductoin of SparkSession, They have combined the functionalites of SparkContext, SQLContext, HiveContext.

RDD's and dataframe are immutable
"""

In [0]:
# Creating SparkSession Object
from pyspark.sql import SparkSession

spark_session_object = SparkSession.builder.getOrCreate()
# spark_session_object = sparkSession.builder.appName("Exl PySpark Application").getOrCreate()
print(spark_session_object)

<pyspark.sql.session.SparkSession object at 0x7f362383cf10>

In [0]:
list_of_values = [47264846,383726647,"dkhguh475ud","fjhaekdhf384j"]

print(type(list_of_values))

rdd_random_values = spark_session_object.sparkContext.parallelize(list_of_values)
print(type(rdd_random_values))

rdd_random_values.collect()

<class 'list'>
<class 'pyspark.rdd.RDD'>
Out[3]: [47264846, 383726647, 'dkhguh475ud', 'fjhaekdhf384j']

In [0]:
print(rdd_random_values.getNumPartitions())

rdd_random_values_2 = rdd_random_values.repartition(4) # You can increase or dercrease the partitions. (All partition shuffling will happending -> Impact in performance)
print(rdd_random_values_2.getNumPartitions())

rdd_random_values_3 = rdd_random_values.coalesce(1) # It will help you to only rduce the bumber fo partition. (only required data will be moved between partitions)
print(rdd_random_values_3.getNumPartitions())

8
4
1

In [0]:
cloud_service_cost = [(1,"Databricks","$1200"),(2,"AWS","$1900"),(3,"Azure","$1450")]

rdd_cloud_cost = spark_session_object.sparkContext.parallelize(cloud_service_cost,3)

rdd_cloud_cost.getNumPartitions()

rdd_cloud_cost.collect()

Out[5]: [(1, 'Databricks', '$1200'), (2, 'AWS', '$1900'), (3, 'Azure', '$1450')]

In [0]:

df_from_rdd_cloud_cost = rdd_cloud_cost.toDF()
print(df_from_rdd_cloud_cost)

df_from_rdd_cloud_cost.show()

df_from_rdd_cloud_cost_another = spark_session_object.createDataFrame(rdd_cloud_cost)
df_from_rdd_cloud_cost_another.show()

cloud_cost_col_names = ["Row_Number","Cloud_Service_Provider","Cost"]
df_from_rdd_cloud_cost_with_cols = rdd_cloud_cost.toDF(cloud_cost_col_names)
df_from_rdd_cloud_cost_with_cols.show()

DataFrame[_1: bigint, _2: string, _3: string]
+---+----------+-----+
| _1|        _2|   _3|
+---+----------+-----+
|  1|Databricks|$1200|
|  2|       AWS|$1900|
|  3|     Azure|$1450|
+---+----------+-----+

+---+----------+-----+
| _1|        _2|   _3|
+---+----------+-----+
|  1|Databricks|$1200|
|  2|       AWS|$1900|
|  3|     Azure|$1450|
+---+----------+-----+

+----------+----------------------+-----+
|Row_Number|Cloud_Service_Provider| Cost|
+----------+----------------------+-----+
|         1|            Databricks|$1200|
|         2|                   AWS|$1900|
|         3|                 Azure|$1450|
+----------+----------------------+-----+

In [0]:
data_emp = [("Alex",None,"Tom",3235245,"M",12000),\
          ("John","","XXXX",89983243,"M",12000), \
          ("Andy","Steve","Morision",435435,"M",12000), \
          ("Arun","OOOO","Gopal",454425,"M",12000), \
          ("Claudia","","Schepars",978643,"F",8000), \
          ("Nancy","MMMM","Paul",2353462,"F",12000)]

df_emp = spark_session_object.createDataFrame(data_emp)
print(type(df_emp))

df_emp.show()

cols_emp = ["First_Name","Middle_Name","Last_Name","Emp_ID","Gender","Salary"]

df_emp_wit_cols = spark_session_object.createDataFrame(data_emp,cols_emp)
df_emp_wit_cols.show()

df_emp_wit_cols.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
+-------+-----+--------+--------+---+-----+
|     _1|   _2|      _3|      _4| _5|   _6|
+-------+-----+--------+--------+---+-----+
|   Alex| null|     Tom| 3235245|  M|12000|
|   John|     |    XXXX|89983243|  M|12000|
|   Andy|Steve|Morision|  435435|  M|12000|
|   Arun| OOOO|   Gopal|  454425|  M|12000|
|Claudia|     |Schepars|  978643|  F| 8000|
|  Nancy| MMMM|    Paul| 2353462|  F|12000|
+-------+-----+--------+--------+---+-----+

+----------+-----------+---------+--------+------+------+
|First_Name|Middle_Name|Last_Name|  Emp_ID|Gender|Salary|
+----------+-----------+---------+--------+------+------+
|      Alex|       null|      Tom| 3235245|     M| 12000|
|      John|           |     XXXX|89983243|     M| 12000|
|      Andy|      Steve| Morision|  435435|     M| 12000|
|      Arun|       OOOO|    Gopal|  454425|     M| 12000|
|   Claudia|           | Schepars|  978643|     F|  8000|
|     Nancy|       MMMM|     Paul| 2353462|     F| 12000|
+----------+-----------+---------+--------+------+------+

root
 |-- First_Name: string (nullable = true)
 |-- Middle_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Emp_ID: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

In [0]:
# Concept of Defining our own custom Datatypes & Nullable Constrains using - StructType & StructField
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

data_emp = [("Alex",None,"Tom",3235245,"M",12000),\
          ("John","","XXXX",89983243,"M",12000), \
          ("Andy","Steve","Morision",435435,"M",12000), \
          ("Arun","OOOO","Gopal",454425,"M",12000), \
          ("Claudia","","Schepars",978643,"F",8000), \
          ("Nancy","MMMM","Paul",2353462,"F",12000)]

schema_emp = StructType([StructField("First_Name",StringType(),True),\
    StructField("Middle_Name",StringType(),True),\
        StructField("Last_Name",StringType(),True),\
            StructField("Emp_ID",IntegerType(),False),\
                StructField("Gender",StringType(),True),\
                    StructField("Salary",IntegerType(),True),])

df_emp_wit_cols_dt_nullable = spark_session_object.createDataFrame(data_emp,schema_emp)
df_emp_wit_cols_dt_nullable.show()
df_emp_wit_cols_dt_nullable.printSchema()

+----------+-----------+---------+--------+------+------+
|First_Name|Middle_Name|Last_Name|  Emp_ID|Gender|Salary|
+----------+-----------+---------+--------+------+------+
|      Alex|       null|      Tom| 3235245|     M| 12000|
|      John|           |     XXXX|89983243|     M| 12000|
|      Andy|      Steve| Morision|  435435|     M| 12000|
|      Arun|       OOOO|    Gopal|  454425|     M| 12000|
|   Claudia|           | Schepars|  978643|     F|  8000|
|     Nancy|       MMMM|     Paul| 2353462|     F| 12000|
+----------+-----------+---------+--------+------+------+

root
 |-- First_Name: string (nullable = true)
 |-- Middle_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Emp_ID: integer (nullable = false)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
# Nested data
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
nested_data_emp = [(("Alex",None,"Tom"),3235245,"M",12000),\
          (("John","","XXXX"),883243,"M",8000), \
          (("Andy","Steve","Morision"),435435,"M",9000), \
          (("Arun","OOOO","Gopal"),454425,"M",11500), \
          (("Claudia","","Schepars"),978643,"F",7000), \
          (("Nancy","MMMM","Paul"),2353462,"F",12000)]

schema_nested_emp = StructType([StructField("Full_Name",StructType([StructField("First_Name",StringType(),True),StructField("Middle_Name",StringType(),True),StructField("Last_Name",StringType(),True)])),\
    StructField("Emp_ID",IntegerType(),False),\
        StructField("Gender",StringType(),True),\
            StructField("Salary",IntegerType(),True)])

df_nested_emp_wit_cols_dt_nullable = spark_session_object.createDataFrame(nested_data_emp,schema_nested_emp)
df_nested_emp_wit_cols_dt_nullable.show()
df_nested_emp_wit_cols_dt_nullable.printSchema()

+--------------------+-------+------+------+
|           Full_Name| Emp_ID|Gender|Salary|
+--------------------+-------+------+------+
|   {Alex, null, Tom}|3235245|     M| 12000|
|      {John, , XXXX}| 883243|     M|  8000|
|{Andy, Steve, Mor...| 435435|     M|  9000|
| {Arun, OOOO, Gopal}| 454425|     M| 11500|
|{Claudia, , Schep...| 978643|     F|  7000|
| {Nancy, MMMM, Paul}|2353462|     F| 12000|
+--------------------+-------+------+------+

root
 |-- Full_Name: struct (nullable = true)
 |    |-- First_Name: string (nullable = true)
 |    |-- Middle_Name: string (nullable = true)
 |    |-- Last_Name: string (nullable = true)
 |-- Emp_ID: integer (nullable = false)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)